<!-- app/templates/admin/roles/roles.html -->

{% extends "base.html" %}
{% block title %}Roles{% endblock %}
{% block head %}
<!-- Site Properties -->
<!--<script src="{{ url_for('static', filename='login-page/jquery.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='login-page/form.js') }}"></script>-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<style type="text/css">
    body, {
      background-color: rgb(255, 255, 255);
      font-family: 'Mandali';
      color: #474747;
    }

    button {
       font-family: 'Mandali';

}

    body > .grid {
      height: 100%;
    }

    .ui.large.form{
    font-size: 1em;
    }
    #toast-container{
      top: 60px;
    }


</style>


{% endblock %}
{% block body %}

<div class="ui middle aligned center aligned grid" style="background-color:white; margin-top:0px;">
    <div class="twelve wide column" style="margin-top:4em; margin-bottom:8em">
        <div class="ui center aligned grid">

            <div class="sixteen wide column">
                <h2 class="ui header"
                    style="color: #74D7D7; font-family: Josefin Slab; font-weight:400; font-size:2.5em">
                    Roles
                </h2>
            </div>

            {% if roles %}
            <div class="sixteen wide column">
                <p style="color:#474747">The following roles are currently present in the database:
                </p>
                <div class="ui divider"></div>
            </div>
            <div class="sixteen wide column">

                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Employee Count</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for role in roles %}
                    <tr>
                        <td> {{ role.name }}</td>
                        <td> {{ role.description }}</td>
                        <td>
                            {% if role.employees %}
                            {{ role.employees.count() }}
                            {% else %}
                            0
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('admin.edit_role', id=role.id) }}">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('admin.delete_role', id=role.id) }}">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="sixteen wide column">
                <p style="color:#474747">No roles have been added.</p>
                <div class="ui divider"></div>
            </div>
            {% endif %}
            <div class="sixteen wide column">
                <a href="{{ url_for('admin.add_role') }}" class="ui medium button">
                    <i class="fa fa-plus"></i>
                    Add Role
                </a>
            </div>

            <!--Display success flashes as toasts-->
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
            <script>
            // Display a success toast with title
            {% for message in messages %}
            toastr.success('{{ message }}', 'Success')
            {% endfor %}

            </script>
            {% endif %}
            {% endwith %}

            <!--Display error flashes as toasts-->
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            <script>
            // Display an error toast with title
            {% for message in messages %}
            toastr.error('{{ message }}', 'Error')
            {% endfor %}

            </script>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}

{% endblock %}